body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #4CAF50;
}

.buttons {
    margin: 20px 0;
}

button {
    background-color: #222;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #4CAF50;
    color: #fff;
}

.grafana-icon {
    width: 100px;
    height: 100px;
}