body {

    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background-color: #1F1E2E;
}

h2 {
    color: #F6AFC7;
}

.container {
    background-color: #1F1E2E;
    color: #F6AFC7;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow:
            0 0 20px rgba(0, 0, 0, 0.5),
            0 0 40px rgba(246, 175, 199, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    box-shadow:
            inset 0 0 10px rgba(255,255,255,0.05),
            0 0 40px rgba(246,175,199,0.35),
            0 0 20px rgba(0,0,0,0.5);
}


.header {
    color: #F6AFC7;
    padding: 10px;
    max-width: 400px;
    margin-bottom: -25px;
}

.artist_album {
    justify-content: center;
    color: #F6AFC7;
}

.divider {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F6AFC7;
    margin-left: 4px;
    margin-right: 4px;
}

.progress_bar {

}

button {
    background-color: white;
    color: hotpink;
    border: 2px solid hotpink;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.play_button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hotpink;
    color: white;
    border: none;
    font-size: 30px;
    justify-content: center;
    border: 2px solid white;
}


.play_button:hover {
    background-color: #F6AFC7;

}

.grafana_text {
    margin-top: 40px;
}

.grafana_text a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #F6AFC7;
    font-size: 20px;
    transition: color 0.2s ease;
}

.grafana_icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.grafana_icon:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.status {

}