body {

    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background-color: #1F1E2E;
}

h2 {
    color: #F6AFC7;
}

.container {
    background-color: #1F1E2E;
    color: #F6AFC7;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
            inset 0 0 10px rgba(255,255,255,0.05),
            0 0 40px rgba(246,175,199,0.35),
            0 0 20px rgba(0,0,0,0.5);
}


.header {
    color: #F6AFC7;
    padding: 10px;
    max-width: 400px;
    margin-bottom: -25px;
}

.artist-name {
    justify-content: center;
    color: #F6AFC7;
}

.music-player {
    width: 100%;
}

.progress-bar {

}

button {
    background-color: white;
    color: hotpink;
    border: 2px solid hotpink;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.play-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hotpink;
    color: white;
    font-size: 30px;
    justify-content: center;
    border: 2px solid white;
}


.play-button:hover {
    background-color: #F6AFC7;

}

.grafana-text a {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #F6AFC7;
    font-size: 20px;
    transition: color 0.2s ease;
}

.grafana-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.grafana-icon:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.status {

}