body {

    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background-color: #1F1E2E;
}

.unlock-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1F1E2Edd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F6AFC7;
    cursor: pointer;
    z-index: 999;
}
.hidden { display: none; }


h2 {
    color: #F6AFC7;
}

.container {
    background-color: #1F1E2E;
    color: #F6AFC7;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
            inset 0 0 10px rgba(255,255,255,0.05),
            0 0 40px rgba(246,175,199,0.35),
            0 0 20px rgba(0,0,0,0.5);
}


.song-name {
    color: #F6AFC7;
    padding: 10px;
    max-width: 400px;
    margin-bottom: -40px;
}

.artist-name {
    justify-content: center;
    color: #F6AFC7;
}

.music-player {
    width: 100%;
}

.progress-bar {

}

#volume-icon:hover {
    color: white;
}

button {
    background-color: white;
    color: hotpink;
    border: 2px solid hotpink;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
}

.play-button {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hotpink;
    color: white;
    font-size: 30px;
    justify-content: center;
    border: 2px solid white;
}

.prev-next-btn {
    width: 60px;
    height: 60px;
    background-color: white;
    color: hotpink;
    border: 2px solid hotpink;
    border-radius: 50%;
    margin: 10px;
    font-size: 20px;
    padding: 0;
}


.play-button:hover {
    background-color: #F6AFC7;
}

.prev-next-btn:hover {
    background-color: lightpink;
}

.grafana-text a {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #F6AFC7;
    font-size: 20px;
    transition: color 0.2s ease;
}

.grafana-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.grafana-icon:hover {
    transform: scale(1.2);
    transition: 0.2s;
}