<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Controller</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="container">
    <h1>Media Controller</h1>

    <div class="buttons">
        <button onclick="sendCommand('PREV')"><i class="fa-solid fa-backward"></i></button>
        <button onclick="sendCommand('NEXT')"><i class="fa-solid fa-forward"></i></button>
        <button onclick="sendCommand('VOLUMEUP')"><i class="fa-solid fa-volume-up"></i></button>
        <button onclick="sendCommand('VOLUMEDOWN')"><i class="fa-solid fa-volume-down"></i></button>
    </div>

    <div class="status">
        <h2>Current State</h2>
        <pre id="stateDisplay">{ loading... }</pre>
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center; gap: 10px;">
    <h1> View Statistics in Grafana</h1>
    <a href="http://localhost:3000/d/adcnd7x/new-dashboard?orgId=1&from=now-24h&to=now&timezone=browser" target="_blank">
        <img src="http://localhost:3000/public/build/static/img/grafana_icon.1e0deb6b.svg"
             alt="Grafana Dashboard" width="100" height="100" style="cursor:pointer;">
    </a>
</div>

<script>
    async function sendCommand(cmd) {
        await fetch('/api/player/command', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ command: cmd })
        });
        await updateState();
    }

    async function updateState() {
        const res = await fetch('/api/player/state');
        const data = await res.json();
        document.getElementById('stateDisplay').innerText = JSON.stringify(data, null, 2);
    }


    setInterval(updateState, 2000);
    updateState();
</script>
</body>
</html>
