<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Controller</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div id="audio-unlock" class="unlock-overlay">
    ▶ Tap to enable audio playback
</div>

<div class="container">
    <div class="song-name">
        <h1 id="song-title">Song Name</h1>
    </div>

    <div class="artist-name">
        <p id="song-artist">Artist Name</p>
    </div>

    <div class="music-player">
        <audio autoplay playsinline muted></audio>
    </div>

    <div class="progress-bar">
        <input type="range">
    </div>

    <div class="volume-control">
        <i id="volume-icon" class="fa-solid fa-volume-up"></i>
        <input id="volume-slider" type="range" min="0" max="100" value="50">
    </div>


    <div class="buttons">
        <div class="buttons-row">
            <button onclick="sendCommand('PREV')"><i class="fa-solid fa-backward"></i></button>
            <button class="play-button" onclick="sendCommand('PLAY')"><i id="play-pause-icon" class="fa-solid fa-play"></i></button>
            <button onclick="sendCommand('NEXT')"><i class="fa-solid fa-forward"></i></button>
        </div>
    </div>


    <div class="status">
        <h2>Current State</h2>
        <pre id="stateDisplay">{ loading... }</pre>
    </div>
</div>

<div class="grafana-text">
    <a href="http://localhost:3000/d/adcnd7x/music-remote-esp32?orgId=1&from=now-30d&to=now&timezone=browser&kiosk=true" target="_blank">
        <h3>View Statistics in Grafana</h3>
        <img src="http://localhost:3000/public/build/static/img/grafana_icon.1e0deb6b.svg"
             alt="Grafana Dashboard" class="grafana-icon">
    </a>
</div>



<script src="/js/index.js"></script>
</body>
</html>