<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Controller</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Song Name</h1>
    </div>


    <div class="artist_album">
        <p>Artist Name <span class="divider"></span> Album Name</p>
    </div>


    <div class="progress_bar">
        <input type="range">
    </div>



    <div class="buttons">
        <div class="buttons-row">
            <button onclick="sendCommand('PREV')"><i class="fa-solid fa-backward"></i></button>
            <button class="play_button" onclick="sendCommand('PLAY')"><i class="fa-solid fa-play"></i></button>
            <button onclick="sendCommand('NEXT')"><i class="fa-solid fa-forward"></i></button>
        </div>

        <div class="buttons-row">
            <button onclick="sendCommand('VOLUMEDOWN')"><i class="fa-solid fa-volume-down"></i></button>
            <button onclick="sendCommand('MUTE')"><i class="fa-solid fa-volume-xmark"></i></button>
            <button onclick="sendCommand('VOLUMEUP')"><i class="fa-solid fa-volume-up"></i></button>
        </div>
    </div>


    <div class="status">
        <h2>Current State</h2>
        <pre id="stateDisplay">{ loading... }</pre>
    </div>
</div>

<div class="grafana_text">
    <a href="http://localhost:3000/d/adcnd7x/music-remote-esp32?orgId=1&from=now-30d&to=now&timezone=browser&kiosk=true" target="_blank">
        <h3>View Statistics in Grafana</h3>
        <img src="http://localhost:3000/public/build/static/img/grafana_icon.1e0deb6b.svg"
             alt="Grafana Dashboard" class="grafana_icon">
    </a>
</div>



<script src="/js/index.js"></script>
</body>
</html>